contourpy==1.2.1+computecanada
corner==2.2.1+computecanada
cycler==0.12.1+computecanada
emcee==3.1.4+computecanada
fonttools==4.53.0+computecanada
h5py==3.11.0+computecanada
joblib==1.4.2+computecanada
kiwisolver==1.4.5+computecanada
matplotlib==3.9.0+computecanada
numpy==1.26.4+computecanada
packaging==24.1+computecanada
pandas==2.2.1+computecanada
pillow==10.3.0+computecanada
pyparsing==3.1.2+computecanada
python_dateutil==2.9.0.post0+computecanada
pytz==2024.1+computecanada
schwimmbad==0.3.1+computecanada
scikit_learn==1.5.0+computecanada
scipy==1.13.1+computecanada
six==1.16.0+computecanada
sklearn==0.0+computecanada
threadpoolctl==3.5.0+computecanada
tzdata==2024.1+computecanada
asttokens==2.4.1+computecanada
decorator==5.1.1+computecanada
exceptiongroup==1.2.1+computecanada
executing==2.0.1+computecanada
ipython==8.25.0+computecanada
jedi==0.19.1+computecanada
matplotlib_inline==0.1.7+computecanada
parso==0.8.4+computecanada
pexpect==4.9.0+computecanada
prompt_toolkit==3.0.47+computecanada
ptyprocess==0.7.0+computecanada
pure_eval==0.2.2+computecanada
pygments==2.18.0+computecanada
six==1.16.0+computecanada
stack_data==0.6.3+computecanada
traitlets==5.14.3+computecanada
typing_extensions==4.12.2+computecanada
wcwidth==0.2.13+computecanada
